@import "../../styles/main";

.sign-in {
  $form-element-mb: 10px;
  $input-height: 20px;

  &__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
    padding: 20px 30px;

    @include box-element;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    margin-bottom: $form-element-mb;

    border: none;
    border-bottom: 1px solid #4d457b;
    font-family: inherit;
    font-size: 0.9rem;
    padding: 10px 5px;
    color: #4d457b;
    outline: none;
    &_error {
      border-bottom-color: red;
    }
  }

  &__button {
    margin-bottom: $form-element-mb;
    height: 35px;

    @include box-element;
    &_submit {

    }
  }
}
