.control-panel {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  box-sizing: border-box;

  position: fixed;
  bottom: 10px;
  left: 10px;
  width: calc(100vw - 20px);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;
  border-radius: 24px;

  &__glasses {
    width: calc(100% - 80px);
    display: flex;
    border-radius: 20px;
    overflow: auto hidden;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.6);
    }

    .control-panel__button {
      margin-right: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;

      &:last-child {
        margin-right: 0;
      }

      &_active{
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
      }
    }
  }

  &__button {
    width: 60px;
    height: 60px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 32px;
    border-radius: 20px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
  }

  &__screenshot {
    margin: 0;
  }

  &__img-preview {
    width: 100%;
    height: auto;
  }
}
