.control-panel {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: calc(100vw - 20px);
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;
  border-radius: 24px;
}

.control-panel__glasses {
  position: absolute;
  width: calc(100% - 10px - 80px);
  left: 10px;
  top: 10px;
  display: flex;
}

.control-panel__glasses .control-panel__button {
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.control-panel__glasses .control-panel__button_active{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.control-panel__button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 32px;
  border-radius: 20px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
}

.control-panel__screenshot {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
