@import "../../styles/main";

.edit-glasses {

  &__views-container {
    position: relative;
  }

  &__top-panel {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: $primary-v-padding $primary-h-padding;
  }

  &__input {
    @include top-control-box;
  }

  &__button {
    @include top-control-box;
  }

  &__scene {
    height: 50vh;
    margin-bottom: 30px;

    @include box-element;
  }

  &__preview-scene {
    position: absolute;
    bottom: $primary-v-padding;
    left: $primary-h-padding;

    @include square(10vh);
    @include box-element;
  }

  &__params-container {

  }
}

.params-container {

  &__params-list {
    display: flex;
    flex-direction: column;
    padding: $primary-v-padding $primary-h-padding;
    margin-bottom: 6px;
    @include box-element;
  }

  &__param-item {
    display: flex;
    width: 100%;
    flex-direction: column;

    @include gap-margins(10px, 0);
  }

  &__param-title {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  &__inputs-container {
    display: flex;
    width: 100%;
  }

  &__range-input {
    width: 100%;
    margin-right: 10px;
  }

  &__additional-input {
    width: 80px;

    @include top-control-box;
  }

  &__navigation-panel {
    padding: $primary-v-padding $primary-h-padding;

    background: #D9D9D9;
    border-radius: 13px;
  }

  &__button {
    position: relative;

    @extend %noBorder;
    @include square(46px);
    @include box-element;
    @include gap-margins(0, 10px);
    @include normalize-background;

    &_scale {
      background-image: url("../../images/admin/edit/scale.png");
    }

    &_position {
      background-image: url("../../images/admin/edit/position.png");
    }

    &_rotate {
      background-image: url("../../images/admin/edit/rotate.png");
    }

    &_three {
      background-image: url("../../images/admin/edit/three.png");
    }
  }
}
