@import "../../styles/main";

.edit-glasses {
  --v-padding: 8px;
  --h-padding: 10px;
  position: relative;
  padding: var(--v-padding) var(--h-padding);
  width: 100vw;
  height: 100vh;
  background-color: #e8e8e8;
  overflow: auto auto;

  &__top-panel {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - var(--h-padding) * 2);
    padding: 8px 10px;
  }

  &__scene {
    height: 50vh;
    @include box-element;
  }
}
