@import "../../styles/main";

.file-upload {
  &__area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    margin-bottom: 60px;

    @include box-element;
    background: #fdfdfd;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 14px;

    cursor: pointer;
  }
}
