$primary-v-padding: 8px;
$primary-h-padding: 10px;

$main-margin-bottom: 8px;

$top-nav-bar-height: 35px;

$admin-scene-height: 50vh;
$scene-margin-bottom: 30px;

$params-list-height: calc(100vh - 50vh - 163px);
$block-item-margin: 6px;
$standard-square-size: 46px;
