@import "../../styles/main";

.admin-page {
  padding: $primary-v-padding $primary-h-padding;
  width: 100vw;
  height: 100vh;
  background-color: #e8e8e8;
  overflow: auto auto;

  &__top-navigation-bar {
    margin-bottom: $main-margin-bottom;
  }
}
