.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas{
  z-index: 100 !important;
}

canvas{
  position: absolute;
}
.webcam {
  position: absolute;
  object-fit: cover;
}