@import "../../styles/main";

.glasses-list {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
    padding: 8px 11px;
    height: 63px;

    @include box-element;

    &_active {
      font-weight: bold;
    }
  }

  &__preview-container {
    margin-right: 13px;

    @include square(46px);
    @include box-element;

  }

  &__preview-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;

    text-align: center;
    font-size: 12px;
  }
}
