@import "../../styles/main";

.glasses-list {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $primary-v-padding;
    padding: $primary-v-padding $primary-h-padding;
    height: 63px;

    @include box-element;

    &_active {
      font-weight: bold;
    }
  }

  &__description-container {
    display: flex;
    align-items: center;
  }

  &__preview-container {
    margin-right: 13px;

    @include square($standard-square-size);
    @include box-element;
  }

  &__preview-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;

    text-align: center;
    font-size: 12px;
  }

  &__title {
    font-family: inherit;
    font-weight: inherit;
  }

  &__is-local {
    @include square($standard-square-size);
    @include normalize-background;
    @extend %noBorder;

    background-image: url("../../images/admin/add-new-glasses/local.png");
    background-size: 16px 16px;
  }

  &__option-container {
    display: flex;
    justify-content: space-between;
  }

  &__option-button {
    @include normalize-background;
    @include square(24px);
    @include noBorder;
    @include gap-margins(0, 24px);
    transition: transform 0.3s;

    &:active {
      transform: scale(0.9);
    }

    &_edit {
      background-image: url("../../images/admin/add-new-glasses/edit.png");
    }

    &_delete {
      background-image: url("../../images/admin/add-new-glasses/delete.png");
    }
  }
}
